.cart-container {
  width: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.cart-header {
  width: 100%;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}

.cart-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.cart-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.cart-form {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.cart-home-link {
  text-decoration: none;
}

.cart-rooms-link {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.cart-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.cart-login {
  margin-right: 32px;
  text-decoration: none;
}

.cart-register {
  text-decoration: none;
}

.cart-burger-menu {
  display: none;
}

.cart-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}

.cart-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}

.cart-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.cart-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.cart-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}

.cart-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.cart-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}

.cart-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}

.cart-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}

.cart-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}

.cart-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}

.cart-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.cart-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.cart-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.cart-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.cart-hero {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-faq-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}

.cart-gallery-card {
  margin-top: 100px;
  width: 100%;
  height: auto  ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  ;
}

.cart-mac-book-pro141 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;

  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.cart-payment-details {
  width: 45%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column
}

.cart-payment-title {
  color: rgb(0, 0, 0);
  width: 342px;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-payment-subtitle-1 {
  color: rgba(87, 87, 87, 1);
  width: 227px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-payment-subtitle-2 {
  top: 256px;
  left: 0px;
  color: rgba(87, 87, 87, 1);
  width: 199px;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-payment-subtitle-3 {
  color: rgba(87, 87, 87, 1);
  width: 156px;
  height: auto;
  ;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-payment-subtitle-4 {
  top: 360px;
  left: 233px;
  color: rgba(87, 87, 87, 1);
  width: 99px;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-circle-designs {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  


}

.reservation-info {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 2%;
  flex-direction: row;
  justify-content: center;

}

.cart-circle1 {
  display: flex;
  width: 100%;
  align-items: center;
  height: 251px;

}

.cart-circle2 {
  margin-top: 60px;
  width: 100%;


  align-items: center;
}

.cart-ellipse-guide {
  width: 260px;
  height: 260px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cart-ellipse1 {
  width: 244px;
  height: 251px;




}

.cart-ellipse2 {
  left: 40%;
  width: 244px;
  height: 251px;
  margin-left: -20%;

}

.cart-stating-label {

  color: rgba(87, 87, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-room {

  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-room-price1 {

  width: 100%;
  height: auto;
  margin-left: -250px;
}

.cart-room-price {


  color: rgba(0, 0, 0, 1);
  height: auto;

  font-size: 28px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-total-price2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-text08 {
  font-size: 50px;
  text-transform: uppercase;
}

.cart-tax-amount {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-total-price1 {

  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-totallabel {

  color: rgba(0, 0, 0, 1);

  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-tax-label {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-expiry {
  width: 174px;
  height: 57px;

}

.cart-exp-date {
  width: 145px;
  height: 50%;
}

.cart-checkout-button {
  align-content: center;
  width: 100%;
  height: 50px;

}

.cart-pay-button {
  color: var(--dl-color-gray-white);
  width: 122px;
  height: 50px;
  font-size: 26px;

  text-decoration: none;
  background-color: #f5a034;
  padding-bottom: 40px;

}

.cart-card-number {

  width: 370px;
  height: 83px;

}

.cart-card-number1 {
  width: 351px;
  height: 32px;
}

.cart-card-holders-input {

  width: 100%;
  display: flex;
 flex-direction: column;
  margin-top: 20px;
 align-content: flex-start;
}

.cart-card-name {
  width: 351px;
  height: 32px;
}

.cart-clear-cart-button {

  width: 100%;
  height: 100px;
  align-content: center;
  justify-content: center;
  border-color: rgba(0, 0, 0, 0);


}

.cart-clear-button {
  color: var(--dl-color-gray-white) #000000;
  width: 122px;
  height: 50px;
  padding-bottom: 30px;
  font-size: 20px;
  border-color: rgba(8, 8, 8, 0.94);
  border-width: 1px;
  background-color: rgb(245, 160, 52);
  margin-left: auto;
  margin-right: auto;
  display: block ;

}

.cart-text13 {
  color: #ffffff;
}

.cart-vector1 {

  width: 409px;
  height: 1px;

}

.cart-cvc {
  justify-content: flex-end;
  width: 100%;
  height: 57px;

}

.cart-cvc1 {
  width: 145px;
  height: 50%;
}

.cart-container1 {
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.cart-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cart-image {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-fit: cover;
}

.cart-receipt-page-link {
  width: 100%;
  width: 96px;
  height: 34px;

}

.cart-link-to-receipt-page {
  color: #12b0ce;
  text-decoration: none;
}

.cart-group1 {

  width: 274px;
  height: 30px;
  flex-shrink: 1;
  margin-right: 84px;
}

.cart-image-deco {
  width: 30%;
  height: 231px;

  object-fit: cover;


}

.cart-container4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-nav1 {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}

.cart-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.cart-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.cart-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.cart-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}

.cart-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}


.cart-icon14 {
  width: 24px;
  height: 24px;
}

@media(max-width: 767px) {

  .cart-card-holders-input {
    align-items: center;
  }

  .cart-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .cart-mac-book-pro141 {
    flex-direction: column;

  }

  .cart-payment-details {

    width: 100%;
    height: auto;

  }
  .cart-image-deco {
    width: 100%;
    align-items: center;
    height: auto;
  }

  .cart-circle-designs {
    width: 100%;
    height: auto;
    align-content: center;
  }

  .cart-desktop-menu {
    display: none;
  }

  .cart-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .cart-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .cart-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .cart-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .cart-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }


  .cart-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .cart-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .cart-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-text20 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

@media(max-width: 479px) {
  .cart-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }

  .cart-mobile-menu1 {
    padding: 16px;
  }

  .cart-footer {
    padding: var(--dl-space-space-unit);
  }

  .cart-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .cart-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-text20 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}